html{
    margin: 0px;
    background-color: #000000;
    color: #757575;
}

.centralizar{
    text-align: center;
}

.marcante{
    max-width: 500px;
    border: 10px solid rgb(255,255,255);
}

header{
    text-align: center;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

h1{
    color: rgb(255,255,255);
}

#fraseMarcante{
    color: rgb(255,255,255);
    text-align: center;
}

.limite{
    max-width: 1000px;
}

.linkImagem{
    border: 1px solid #757575;
    text-align: center;
}

.fundo{
    position: fixed;
    bottom: 0px;
}

footer{
    background-color: #000000;
    color: #757575;
    margin: 0px;
}

footer p{
    display: inline-block;
}

footer img{
    width: 200px;
    display: inline-block;
    margin-bottom: -10px;
}