body{
	background-image: 	url("../img/mato.png"), 
						url("../img/footer.png"),
						url("../img/floor.png"), 
						linear-gradient(#00bfff 75%, #fff);
	background-repeat: 	repeat-x, 
						no-repeat,
						repeat-x;
  	background-position: bottom;
  	background-size: 	500px auto, 
  						300px auto,
  						28px auto,
  						auto auto;
  	background-position:right 0 bottom 10px,
  						right 0 bottom 28px,
  						right 0 bottom 0;
  	position: relative;
}

h1{
	font-family: 'Lobster';
	font-size: 48px;
	padding: 0;
	margin: 0;
}

h2{
	font-family: 'Lobster Two';
	font-size: 20px;
	padding: 0;
	margin: 0;
}

button{
	border-radius: 12px;
	padding: 0 5px 0 5px;
}


.placa1, .placa2, .placa3, .placa4{
	width: 7%;
	height: auto;
}

.placa1{
	position: absolute;
	left: 27.8%;
	top: 35%;
	z-index: 2;
}

.p1{
	transform: rotate(-30deg);
	font-family: 'Risque';
	font-size: 1.5vw;
	position: absolute;
	left: 29%;
	top: 38.5%;
	z-index: 3;
}

.placa2{
	position: absolute;
	left: 27.8%;
	top: 65%;
	z-index: 2;
}

.p2{
	transform: rotate(-30deg);
	font-family: 'Risque';
	font-size: 1.5vw;
	position: absolute;
	left: 29%;
	top: 68.5%;
	z-index: 3;
}

.placa3{
	position: absolute;
	right: 28.2%;
	top: 35%;
	z-index: 2;
}

.p3{
	transform: rotate(-30deg);
	font-family: 'Risque';
	font-size: 1.5vw;
	position: absolute;
	right: 28.8%;
	top: 38.5%;
	z-index: 3;
}

.placa4{
	position: absolute;
	right: 28.2%;
	top: 65%;
	z-index: 2;
}

.p4{
	transform: rotate(-30deg);
	font-family: 'Risque';
	font-size: 1.5vw;
	position: absolute;
	right: 29.3%;
	top: 68.5%;
	z-index: 3;
}

.content{
	text-align: center;
}

.fundo{
	text-align: right;
	margin-right: 50px;
}

.stair{
	width: 50%;
	height: 75%;
	position: absolute;
	left: 25%;
	bottom: 1%;
}

.cano1{
	transform: rotate(90deg);
	width: 7.5%;
	height: auto;
	position: absolute;
	left: 35%;
	bottom: 46%;
}

.cano2{
	transform: rotate(90deg);
	width: 7.5%;
	height: auto;
	position: absolute;
	left: 35%;
	bottom: 16%;
}

.cano3{
	transform: rotate(-90deg);
	width: 7.5%;
	height: auto;
	position: absolute;
	right: 35%;
	bottom: 46%;
}

.cano4{
	transform: rotate(-90deg);
	width: 7.5%;
	height: auto;
	position: absolute;
	right: 35%;
	bottom: 16%;
}

.wall1{
	transform: rotate(90deg);
	position: absolute;
	left: 14%;
	bottom: 25.7%;
	width: 35%;
	height: auto;
	z-index: 1;
}

.wall2{
	transform: rotate(90deg);
	position: absolute;
	right: 14%;
	bottom: 25.7%;
	width: 35%;
	height: auto;
	z-index: 1;
}